MCU-API/ServerPack.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Server">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Module" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:anyURI" name="URL"/>
              <xs:element type="xs:boolean" name="Required"/>
              <xs:element type="xs:boolean" name="InJar"/>
              <xs:element type="xs:boolean" name="Extract"/>
              <xs:element type="xs:boolean" name="InRoot"/>
              <xs:element type="xs:string" name="MD5"/>
              <xs:element name="ConfigFile" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:anyURI" name="URL"/>
                    <xs:element type="xs:string" name="Path"/>
                    <xs:element type="xs:string" name="MD5"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name" use="required"/>
      <xs:attribute type="xs:anyURI" name="newsUrl" use="required"/>
      <xs:attribute type="xs:string" name="version" use="required"/>
      <xs:attribute type="xs:string" name="serverAddress" use="required"/>
      <xs:attribute type="xs:boolean" name="generateList" use="optional" default="true"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
